<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/Content/libraries/fontawesome5/css/all.css" rel="stylesheet" />
</head>
<body style="margin:0;padding:0;min-width:360px;">
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>